.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img01 {
  width: 800px;
  height: 600px;
  padding: 10%;
}

.img02 {
  padding: 10%;
  width: 800px;
  height: 600px;
}

.img03 {
  padding: 10%;
  width: 800px;
  height: 600px;
}

.img04 {
  padding: 10%s;
  width: 800px;
  height: 600px;
}

.test01 {
  width: 800px;
  height: 600px;
}
.gallery {
  background-color: black;
}

.test{
  animation-name: up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to{
    opacity: 3;
    transform: none;
  }
}
