body {
  background-image: url(C:\Users\SW2146\Desktop\unison\Harmony\public\world.svg);
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  background-repeat: no-repeat;
}

.seoul {
  border-radius: 20px;
  margin: 20%;
  background-color: black;
  opacity: 0.8;
  height: 175px;
  width: 125px;
}

#seoul {
  line-height: 40px;
  font-weight: bold;
  white-space: pre-wrap;
  margin: none;
  padding: none;
  font-size: 50px;
  color: white;
}

.seoul > div {
}
